################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/elite_rottu_kaddai_app/ios
/elite_rottu_kaddai_app/android
/elite_rottu_kaddai_app/vendor
